a {
  color: #11999E;
}

a:hover {
  color: #EAF6F6;
}

/*.btn {

   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 35px;
   -moz-border-radius: 35px;
   border-radius: 35px;
   color: #FFFFFF;
   font-family: serif;
   font-size: 40px;
   font-weight: 100;
   padding: 23px;
   -webkit-box-shadow: -1px 1px 20px 0 #000000;
    -moz-box-shadow: -1px 1px 20px 0 #000000;
box-shadow: -1px 1px 20px 0 #000000;
   text-shadow: 16px 1px 16px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.bottom-container {
  background-color: #66BFBF;
  line-height: 2;
  padding: 50px;
  margin-bottom: 0;
}

.copy {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.chilli {
  width: 25%;
  padding-left: 5%;
  float: right;
}

.code {
  width: 25%;
  padding-right: 5%;
  float: left;
}

.designer {
  font-weight: normal;
  text-shadow: 1px 1px 1px black;
}

.footer-link {
  margin: 0 40px;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

h1 {
  margin-top: 50px;
  ;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-bottom: 20px;
  color: #66BFBF;
  text-shadow: 1px 1px 1px black;
}

h2 {
  font-family: 'Aclonica', sans-serif;
  font-size: 2.2rem;
  color: #66BFBF;
  text-shadow: 1px 1px 1px black;
}

h3 {
  font-family: 'Aclonica', sans-serif;
  color: #11999E;
}

hr {
  border-style: dotted none none;
  /* makes the horizontal line dotted*/
  /* if in place of its none that will make width of line to zero so for that we also need to secify height*/
  border-color: #EAF6F6;
  border-width: 10px;
  width: 5%;
  margin: 0 auto;
  /* will display that horzontal linenon only 10% of the webpage*/
}

.intro {
  width: 30%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.middle {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.photo {
  height: 150px;
  padding: 15px;
  margin-top: 30px;
}

p {
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.top {
  position: absolute;
  right: 280px;
  top: 50px;
}

.topcontainer {
  background-color: #E4F9F5;
  padding-top: 50px;
  margin-left: 0;
  position: relative;
}

.web {
  text-decoration: underline;
}

.btn {

  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  color: #FFFFFF;
  font-family: serif;
  font-size: 25px;
  font-weight: 100;
  padding: 5px;
  box-shadow: -1px 1px 20px 0px #000000;
  -webkit-box-shadow: -1px 1px 20px 0px #000000;
  -moz-box-shadow: -1px 1px 20px 0px #000000;
  text-shadow: 16px 1px 16px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #12BC4A);
  background-image: -moz-linear-gradient(top, #30E3CB, #12BC4A);
  background-image: -ms-linear-gradient(top, #30E3CB, #12BC4A);
  background-image: -o-linear-gradient(top, #30E3CB, #12BC4A);
  background-image: linear-gradient(to bottom, #30E3CB, #12BC4A);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
